@import "tailwindcss";

/* Custom utility to hide scrollbar */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}



@media (max-width: 768px) { /* or your preferred breakpoint */
  body, html {
    overflow-x: hidden;
  }
}